<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>ServletAdd</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mult</servlet-name>
        <servlet-class>ServletMult</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>mult</servlet-name>
        <url-pattern>/mult/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>ServletSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getDate</servlet-name>
        <servlet-class>ServletGetDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDate</servlet-name>
        <url-pattern>/getDate</url-pattern>
    </servlet-mapping>
</web-app>

